# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  tags:
    include:
      - '*'
  branches:
    include:
      - master
pr:
  - '*'

pool:
  vmImage: 'windows-2019'

strategy:
  matrix:
    ExamplesTls:
      MQTT_USE_TLS: ON
      MQTT_USE_WS: OFF
      MQTT_USE_STR_CHECK: ON
      MQTT_TEST_1: OFF
      MQTT_TEST_2: OFF
      MQTT_TEST_3: OFF
      MQTT_TEST_4: OFF
      MQTT_TEST_5: OFF
      MQTT_TEST_6: OFF
      MQTT_TEST_7: OFF
      MQTT_BUILD_EXAMPLES: ON
    ExamplesWs:
      MQTT_USE_TLS: OFF
      MQTT_USE_WS: ON
      MQTT_USE_STR_CHECK: ON
      MQTT_TEST_1: OFF
      MQTT_TEST_2: OFF
      MQTT_TEST_3: OFF
      MQTT_TEST_4: OFF
      MQTT_TEST_5: OFF
      MQTT_TEST_6: OFF
      MQTT_TEST_7: OFF
      MQTT_BUILD_EXAMPLES: ON
    TestGroup1:
      MQTT_USE_TLS: ON
      MQTT_USE_WS: OFF
      MQTT_USE_STR_CHECK: OFF
      MQTT_TEST_1: ON
      MQTT_TEST_2: OFF
      MQTT_TEST_3: OFF
      MQTT_TEST_4: OFF
      MQTT_TEST_5: OFF
      MQTT_TEST_6: OFF
      MQTT_TEST_7: OFF
      MQTT_BUILD_EXAMPLES: OFF
    TestGroup2:
      MQTT_USE_TLS: OFF
      MQTT_USE_WS: ON
      MQTT_USE_STR_CHECK: ON
      MQTT_TEST_1: OFF
      MQTT_TEST_2: ON
      MQTT_TEST_3: OFF
      MQTT_TEST_4: OFF
      MQTT_TEST_5: OFF
      MQTT_TEST_6: OFF
      MQTT_TEST_7: OFF
      MQTT_BUILD_EXAMPLES: OFF
    TestGroup3:
      MQTT_USE_TLS: ON
      MQTT_USE_WS: OFF
      MQTT_USE_STR_CHECK: ON
      MQTT_TEST_1: OFF
      MQTT_TEST_2: OFF
      MQTT_TEST_3: ON
      MQTT_TEST_4: OFF
      MQTT_TEST_5: OFF
      MQTT_TEST_6: OFF
      MQTT_TEST_7: OFF
      MQTT_BUILD_EXAMPLES: OFF
    TestGroup4:
      MQTT_USE_TLS: OFF
      MQTT_USE_WS: ON
      MQTT_USE_STR_CHECK: ON
      MQTT_TEST_1: OFF
      MQTT_TEST_2: OFF
      MQTT_TEST_3: OFF
      MQTT_TEST_4: ON
      MQTT_TEST_5: OFF
      MQTT_TEST_6: OFF
      MQTT_TEST_7: OFF
      MQTT_BUILD_EXAMPLES: OFF
    TestGroup5:
      MQTT_USE_TLS: OFF
      MQTT_USE_WS: ON
      MQTT_USE_STR_CHECK: ON
      MQTT_TEST_1: OFF
      MQTT_TEST_2: OFF
      MQTT_TEST_3: OFF
      MQTT_TEST_4: OFF
      MQTT_TEST_5: ON
      MQTT_TEST_6: OFF
      MQTT_TEST_7: OFF
      MQTT_BUILD_EXAMPLES: OFF
    TestGroup6:
      MQTT_USE_TLS: ON
      MQTT_USE_WS: OFF
      MQTT_USE_STR_CHECK: ON
      MQTT_TEST_1: OFF
      MQTT_TEST_2: OFF
      MQTT_TEST_3: OFF
      MQTT_TEST_4: OFF
      MQTT_TEST_5: OFF
      MQTT_TEST_6: ON
      MQTT_TEST_7: OFF
      MQTT_BUILD_EXAMPLES: OFF
    TestGroup7:
      MQTT_USE_TLS: OFF
      MQTT_USE_WS: ON
      MQTT_USE_STR_CHECK: ON
      MQTT_TEST_1: OFF
      MQTT_TEST_2: OFF
      MQTT_TEST_3: OFF
      MQTT_TEST_4: OFF
      MQTT_TEST_5: OFF
      MQTT_TEST_6: OFF
      MQTT_TEST_7: ON
      MQTT_BUILD_EXAMPLES: OFF

steps:
- powershell: |
    choco install --confirm --limitoutput --no-progress openssl
  displayName: 'install openssl'

- powershell: |
    $Url = "https://sourceforge.net/projects/boost/files/boost-binaries/1.72.0/boost_1_72_0-msvc-14.2-64.exe"
    (New-Object System.Net.WebClient).DownloadFile($Url, "$env:TEMP\boost.exe")
    Start-Process -Wait -FilePath "$env:TEMP\boost.exe" "/SILENT","/SP-","/SUPPRESSMSGBOXES","/DIR=C:\hostedtoolcache\windows\Boost\1.72.0\x86_64"
  displayName: 'install boost'

- powershell: |
    git submodule update --init --recursive
    if (!$?) {
      return Write-Error "git submodule update --init --recursive failed"
    }
    mkdir build
    cd build
    $env:CL="/D_WIN32_WINNT#0x0601 /DBOOST_THREAD_VERSION#3 /DBOOST_ALLOW_DEPRECATED_HEADERS /DBOOST_ASIO_NO_DEPRECATED"
    $env:BOOST_ROOT="C:\hostedtoolcache\windows\Boost\1.72.0\x86_64"
    $env:PATH="$env:BOOST_ROOT\lib;"+$env:PATH

    cmake -A x64 -DMQTT_USE_TLS=$(MQTT_USE_TLS) -DMQTT_USE_WS=$(MQTT_USE_WS) -DMQTT_USE_STR_CHECK=$(MQTT_USE_STR_CHECK) -DMQTT_TEST_1=$(MQTT_TEST_1) -DMQTT_TEST_2=$(MQTT_TEST_2) -DMQTT_TEST_3=$(MQTT_TEST_3) -DMQTT_TEST_4=$(MQTT_TEST_4) -DMQTT_TEST_5=$(MQTT_TEST_5) -DMQTT_TEST_6=$(MQTT_TEST_6) -DMQTT_TEST_7=$(MQTT_TEST_7) -DMQTT_BUILD_EXAMPLES=$(MQTT_BUILD_EXAMPLES) ..
    if (!$?) {
      return Write-Error "cmake failed"
    }
    cmake --build . --config Release
    if (!$?) {
      return Write-Error "cmake --build failed"
    }
    cd test

    # If you want to debug a specific test file with logs, do as follows instead of execute ctest
    # Release\resend.exe --log_level=all
    ctest -VV -C Release

    if (!$?) {
      return Write-Error "ctest -VV failed"
    }
  displayName: 'cmake test'
